<div>
  <h2 id="page-heading" data-cy="DisponibilityHeading">
    <span jhiTranslate="pharmbackendApp.disponibility.home.title">Disponibilities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pharmbackendApp.disponibility.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-disponibility"
        [routerLink]="['/disponibility/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pharmbackendApp.disponibility.home.createLabel"> Create a new Disponibility </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="disponibilities?.length === 0">
    <span jhiTranslate="pharmbackendApp.disponibility.home.notFound">No disponibilities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="disponibilities && disponibilities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantity">
            <span jhiTranslate="pharmbackendApp.disponibility.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pharmacy.id">
            <span jhiTranslate="pharmbackendApp.disponibility.pharmacy">Pharmacy</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="drug.id">
            <span jhiTranslate="pharmbackendApp.disponibility.drug">Drug</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disponibility of disponibilities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/disponibility', disponibility.id, 'view']">{{ disponibility.id }}</a>
          </td>
          <td>{{ disponibility.quantity }}</td>
          <td>
            <div *ngIf="disponibility.pharmacy">
              <a [routerLink]="['/pharmacy', disponibility.pharmacy?.id, 'view']">{{ disponibility.pharmacy?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="disponibility.drug">
              <a [routerLink]="['/drug', disponibility.drug?.id, 'view']">{{ disponibility.drug?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/disponibility', disponibility.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/disponibility', disponibility.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(disponibility)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="disponibilities && disponibilities.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
