<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="disponibility">
      <h2 data-cy="disponibilityDetailsHeading"><span jhiTranslate="pharmbackendApp.disponibility.detail.title">Disponibility</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ disponibility.id }}</span>
        </dd>
        <dt><span jhiTranslate="pharmbackendApp.disponibility.quantity">Quantity</span></dt>
        <dd>
          <span>{{ disponibility.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="pharmbackendApp.disponibility.pharmacy">Pharmacy</span></dt>
        <dd>
          <div *ngIf="disponibility.pharmacy">
            <a [routerLink]="['/pharmacy', disponibility.pharmacy?.id, 'view']">{{ disponibility.pharmacy?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pharmbackendApp.disponibility.drug">Drug</span></dt>
        <dd>
          <div *ngIf="disponibility.drug">
            <a [routerLink]="['/drug', disponibility.drug?.id, 'view']">{{ disponibility.drug?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/disponibility', disponibility.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
