<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="drug">
      <h2 data-cy="drugDetailsHeading"><span jhiTranslate="pharmbackendApp.drug.detail.title">Drug</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ drug.id }}</span>
        </dd>
        <dt><span jhiTranslate="pharmbackendApp.drug.name">Name</span></dt>
        <dd>
          <span>{{ drug.name }}</span>
        </dd>
        <dt><span jhiTranslate="pharmbackendApp.drug.description">Description</span></dt>
        <dd>
          <span>{{ drug.description }}</span>
        </dd>
        <dt><span jhiTranslate="pharmbackendApp.drug.type">Type</span></dt>
        <dd>
          <span>{{ drug.type }}</span>
        </dd>
        <dt><span jhiTranslate="pharmbackendApp.drug.price">Price</span></dt>
        <dd>
          <span>{{ drug.price }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/drug', drug.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
