<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-disponibility-heading"
        data-cy="DisponibilityCreateUpdateHeading"
        jhiTranslate="pharmbackendApp.disponibility.home.createOrEditLabel"
      >
        Create or edit a Disponibility
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pharmbackendApp.disponibility.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pharmbackendApp.disponibility.pharmacy" for="field_pharmacy">Pharmacy</label>
          <select class="form-control" id="field_pharmacy" data-cy="pharmacy" name="pharmacy" formControlName="pharmacy">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="pharmacyOption.id === editForm.get('pharmacy')!.value?.id ? editForm.get('pharmacy')!.value : pharmacyOption"
              *ngFor="let pharmacyOption of pharmaciesSharedCollection; trackBy: trackPharmacyById"
            >
              {{ pharmacyOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pharmbackendApp.disponibility.drug" for="field_drug">Drug</label>
          <select class="form-control" id="field_drug" data-cy="drug" name="drug" formControlName="drug">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="drugOption.id === editForm.get('drug')!.value?.id ? editForm.get('drug')!.value : drugOption"
              *ngFor="let drugOption of drugsSharedCollection; trackBy: trackDrugById"
            >
              {{ drugOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
